.landing-container{
    color: #F5FFFA;
    background-color: #1F75FE;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 0 2rem 2rem 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    text-align: center;

    padding: 2rem 0;
}

.join-button {
    all: unset;

    width: 7rem;

    padding: 1rem 1.5rem;

    border-radius: 0.75rem;
    background-color: #F5FFFA;

    font-weight: bold;
    font-size: 1rem;
    color: #1F75FE;

    cursor: pointer;
}

.join-button:hover {
    background-color: #f5fffad7;
}

h2 {
    width: 100%;
    padding: 4rem 2rem;

    text-align: center;
    font-size: 2rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: #0F4C81;

    width: 17rem;
    height: 17rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 1.4rem;
    font-weight: 500;
}

.card-description {
    color: #4A91FD;
}

.card-icon {
    width: 1.5rem;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    padding: 0 2rem 4rem 2rem;
}

.contact {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #0F4C81;
    border-radius: 50%;
    cursor: pointer;
}

.contact-image {
    width: 2rem;
}

.contact-info-type {
    font-weight: 700;
}

.copywrite {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}